
### Ignoring IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### ignoring no code course (target contain duplicate)  ###
target/


### ignoring PROPERTIES (might get credential or any private data)  ###
application-prd.properties



